@model PartyInvitesApp.Models.InvitationResponseModel

<h2>Respond to the Invitation</h2>

<form asp-controller="Invitation" asp-action="Response" method="post">
    <input type="hidden" name="PartyId" value="@Model.Party.Id" />
    <input type="hidden" name="InvitationId" value="@Model.Invitation.Id" />

    <label>
        <input type="radio" name="Response" value="Yes" required /> Yes
    </label>
    <label>
        <input type="radio" name="Response" value="No" required /> No
    </label>

    <button type="submit">Submit</button>
</form>


@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red;">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
