@model PartyInvitesApp.Models.Party

@{
    ViewData["Title"] = "Create Party";
}

<h1>Create Party</h1>

<h4>Party</h4>
<hr />

<form asp-action="Create">
    <div>
        <label>Description:</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label>Event Date:</label>
        <input asp-for="EventDate" type="date" />
        <span asp-validation-for="EventDate"></span>
    </div>

    <div>
        <label>Location:</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>


    <button type="submit">Create</button>
</form>



<a href="@Url.Action("Index", "Party")" class="btn btn-secondary">Back to List</a>
